# Godot 4+ specific ignores
.godot/
/android/

# Temporary files created while the Terrain3D native plugin is in use.
~*.TMP
asset/Ultimate Stylized Nature - May 2022/Textures/
asset/Ultimate Stylized Nature - May 2022/AllModels.blend
asset/terrain_textures/
asset/Ultimate Stylized Nature - May 2022/glTF/*_Normal.png
